--extra-index-url https://download.pytorch.org/whl/cu110
torch==1.7.1
torchvision==0.8.2
tensorboard==2.5.0
numpy==1.19.5
opencv-python==4.2.0.34

matplotlib==3.1.0
PyYAML==5.1.1
pytz
scikit-learn==0.21.2
scipy==1.5.0
thop==0.0.31.post2005241907
tqdm
# pin to fix protoc problem
protobuf~=3.20.1
